streamlit
torch
torchaudio
torchvision
torchmetrics
numpy
scipy
matplotlib
plotly
tqdm
soundfile
av
julius
omegaconf
einops
xformers
num2words
transformers
spacy
librosa
flashy
hydra-core
hydra_colorlog
sentencepiece
demucs
kaleido
